XsdDocumentSchemaInTheComarch/xsd/Order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:simpleType name="gln">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[0-9]{13}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ean">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[0-9]{8,14}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="messageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OA" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ModeOfTransport">
    <xs:restriction base="xs:string">
      <xs:enumeration value="10" />
      <xs:enumeration value="20" />
      <xs:enumeration value="30" />
      <xs:enumeration value="40" />
      <xs:enumeration value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="itemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CU" />
      <xs:enumeration value="RC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="deliveryTermsCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXW" />
      <xs:enumeration value="FOR" />
      <xs:enumeration value="CPT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="documentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="O" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="responseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="4" />
      <xs:enumeration value="27" />
      <xs:enumeration value="29" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="packageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="itemStatus">
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="3" />
      <xs:enumeration value="5" />
      <xs:enumeration value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="quantity">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unitOfMeasure">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KGM" />
      <xs:enumeration value="PCE" />
      <xs:enumeration value="EA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[a-zA-Z]{3}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="money">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:date">
      <xs:pattern value="^(19|20)[0-9]{2}-(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="^([0-2][0-9]):([0-5][0-9])$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element name="OrderNumber" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="VendorOrderNumber" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderDate" minOccurs="1" maxOccurs="1" type="date" />
      <xs:element name="OrderTime" minOccurs="0" maxOccurs="1" type="time" />
      <xs:element name="ExpectedDeliveryDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="ExpectedDeliveryTime" minOccurs="0" maxOccurs="1" type="time" />
      <xs:element name="CollectionDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="CollectionTime" minOccurs="0" maxOccurs="1" type="time" />
      <xs:element name="PromotionReference" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DocumentFunctionCode" minOccurs="1" maxOccurs="1" type="documentType" />
      <xs:element name="MessageType" minOccurs="0" maxOccurs="1" type="messageType" />
      <xs:element name="Remarks" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderCurrency" minOccurs="0" maxOccurs="1" type="currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentTerms">
    <xs:sequence>
      <xs:element name="PromotionReference" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaymentDescription" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Percentage" minOccurs="0" maxOccurs="1" type="money" />
      <xs:element name="PercentageDate" minOccurs="0" maxOccurs="1" type="date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deliveryTerms">
    <xs:sequence>
      <xs:element name="DeliveryTermsCode" minOccurs="0" maxOccurs="1" type="deliveryTermsCode"/>
      <xs:element name="DeliveryTermsDescription" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="70" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Buyer">
    <xs:sequence>
      <xs:element name="ILN" minOccurs="1" maxOccurs="1" type="gln" />
      <xs:element name="TaxID" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="13" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AccountNumber" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="175" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StreetAndNumber" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CityName" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PostalCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Country" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CourtAndCapitalInformation" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ContactInformation" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Seller">
    <xs:sequence>
      <xs:element name="ILN" minOccurs="1" maxOccurs="1" type="gln" />
      <xs:element name="TaxID" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="13" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AccountNumber" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="175" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StreetAndNumber" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CityName" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PostalCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Country" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CodeByBuyer" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Fax" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element name="ILN" minOccurs="1" maxOccurs="1" type="gln" />
      <xs:element name="ModeOfTransport" minOccurs="1" maxOccurs="1" type="ModeOfTransport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element name="ILN" minOccurs="1" maxOccurs="1" type="gln" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="175" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StreetAndNumber" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CityName" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PostalCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Country" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parties">
    <xs:sequence>
      <xs:element name="Buyer" minOccurs="1" maxOccurs="1" type="Buyer" />
      <xs:element name="BuyerHeadquarters" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="Invoicee" minOccurs="1" maxOccurs="1" type="Party" />
      <xs:element name="Seller" minOccurs="0" maxOccurs="1" type="Seller" />
      <xs:element name="DeliveryPoint" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="ShipFrom" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="UltimateCustomer" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="Carrier" minOccurs="0" maxOccurs="1" type="Carrier" />
      <xs:element name="OrderedBy" minOccurs="0" maxOccurs="1" type="Party" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="LineNumber" minOccurs="1" maxOccurs="1" type="xs:positiveInteger" />
      <xs:element name="EAN" minOccurs="1" maxOccurs="1" type="ean" />
      <xs:element name="BuyerItemCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SupplierItemCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PackageEAN" minOccurs="0" maxOccurs="1" type="ean" />
      <xs:element name="ItemDescription" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="70" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ItemType" minOccurs="1" maxOccurs="1" type="itemType" />
      <xs:element name="OrderedQuantity" minOccurs="1" maxOccurs="1" type="quantity" />
      <xs:element name="FreeOrderedQuantity" minOccurs="1" maxOccurs="1" type="quantity" />
      <xs:element name="OrderedUnitPacksize" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="8" />
            <xs:fractionDigits value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InvoicedQuantity" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="UnitOfMeasure" minOccurs="0" maxOccurs="1" type="unitOfMeasure" />
      <xs:element name="OrderedUnitNetPrice" minOccurs="0" maxOccurs="1" type="money" />
      <xs:element name="OrderedUnitRetailPrice" minOccurs="0" maxOccurs="1" type="money" />
      <xs:element name="OrderCurrency" minOccurs="0" maxOccurs="1" type="currency" />
      <xs:element name="ExpectedDeliveryDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="ExpectedDeliveryTime" minOccurs="0" maxOccurs="1" type="time" />
      <xs:element name="ExpirationDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="PromotionReference" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PackageNumber" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="PackageType" minOccurs="0" maxOccurs="1" type="packageType" />
      <xs:element name="Remarks" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element name="PaymentTerms" minOccurs="0" maxOccurs="1" type="paymentTerms" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element name="DeliveryTerms" minOccurs="0" maxOccurs="1" type="deliveryTerms" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element name="Line-Item" minOccurs="1" maxOccurs="1" type="Item" />
      <xs:element name="Line-Parties" minOccurs="1" maxOccurs="1" type="parties" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parties">
    <xs:sequence>
      <xs:element name="DeliveryPoint" minOccurs="0" maxOccurs="1" type="Party" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lines">
    <xs:sequence>
      <xs:element name="Line" minOccurs="1" maxOccurs="unbounded" type="Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Summary">
    <xs:sequence>
      <xs:element name="TotalLines" minOccurs="1" maxOccurs="1" type="xs:positiveInteger" />
      <xs:element name="TotalOrderedAmount" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="TotalNetAmount" minOccurs="0" maxOccurs="1" type="quantity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document-Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Order-Header" minOccurs="1" maxOccurs="1" type="Header" />
        <xs:element name="Payment" minOccurs="0" maxOccurs="1" type="payment" />
        <xs:element name="Delivery" minOccurs="0" maxOccurs="1" type="delivery" />
        <xs:element name="Order-Parties" minOccurs="1" maxOccurs="1" type="Parties" />
        <xs:element name="Order-Lines" minOccurs="1" maxOccurs="1" type="Lines" />
        <xs:element name="OrderResponse-Summary" minOccurs="1" maxOccurs="1" type="Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>