XsdDocumentSchemaInTheComarch/xsd/OrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:simpleType name="gln">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[0-9]{13}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ean">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[0-9]{8,14}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="messageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OA" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="responseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="4" />
      <xs:enumeration value="27" />
      <xs:enumeration value="29" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="packageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="itemStatus">
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="3" />
      <xs:enumeration value="5" />
      <xs:enumeration value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="quantity">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unitOfMeasure">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KGM" />
      <xs:enumeration value="PCE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[a-zA-Z]{3}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="money">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:date">
      <xs:pattern value="^(19|20)[0-9]{2}-(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="^([0-2][0-9]):([0-5][0-9])$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element name="OrderResponseNumber" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderResponseDate" minOccurs="1" maxOccurs="1" type="date" />
      <xs:element name="ExpectedDeliveryDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="ExpectedDeliveryTime" minOccurs="0" maxOccurs="1" type="time" />
      <xs:element name="OrderNumber" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="MessageType" minOccurs="0" maxOccurs="1" type="messageType" />
      <xs:element name="ResponseType" minOccurs="1" maxOccurs="1" type="responseType" />
      <xs:element name="IncompleteRealizationReason" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Remarks" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Currency" minOccurs="0" maxOccurs="1" type="currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element name="ILN" minOccurs="1" maxOccurs="1" type="gln" />
      <xs:element name="TaxID" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="13" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CodeByBuyer" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="175" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StreetAndNumber" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CityName" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PostalCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Country" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parties">
    <xs:sequence>
      <xs:element name="Buyer" minOccurs="1" maxOccurs="1" type="Party" />
      <xs:element name="Invoicee" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="Seller" minOccurs="1" maxOccurs="1" type="Party" />
      <xs:element name="DeliveryPoint" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="ShipFrom" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="UltimateCustomer" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="OrderedBy" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="Sender" minOccurs="0" maxOccurs="1" type="Party" />
      <xs:element name="Receiver" minOccurs="0" maxOccurs="1" type="Party" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="LineNumber" minOccurs="1" maxOccurs="1" type="xs:positiveInteger" />
      <xs:element name="OrderLineNumber" minOccurs="0" maxOccurs="1" type="xs:positiveInteger" />
      <xs:element name="EAN" minOccurs="1" maxOccurs="1" type="ean" />
      <xs:element name="LineItemStatus" minOccurs="1" maxOccurs="1" type="itemStatus" />
      <xs:element name="SupplierItemCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BuyerItemCode" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PackageEAN" minOccurs="0" maxOccurs="1" type="ean" />
      <xs:element name="ItemDescription" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="70" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderedQuantity" minOccurs="1" maxOccurs="1" type="quantity" />
      <xs:element name="QuantityToBeDelivered" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="OrderedUnitPacksize" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="8" />
            <xs:fractionDigits value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="QuantityDifference" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="UnitOfMeasure" minOccurs="0" maxOccurs="1" type="unitOfMeasure" />
      <xs:element name="OrderedUnitNetPrice" minOccurs="0" maxOccurs="1" type="money" />
      <xs:element name="OrderCurrency" minOccurs="0" maxOccurs="1" type="currency" />
      <xs:element name="AvailableStock" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="Discount" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TaxRate" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TaxCategoryCode" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExpectedDeliveryDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="ExpectedDeliveryTime" minOccurs="0" maxOccurs="1" type="time" />
      <xs:element name="ExpirationDate" minOccurs="0" maxOccurs="1" type="date" />
      <xs:element name="PromotionReference" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PackageNumber" minOccurs="0" maxOccurs="1" type="quantity" />
      <xs:element name="PackageType" minOccurs="0" maxOccurs="1" type="packageType" />
      <xs:element name="Remarks" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="350" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element name="Line-Item" minOccurs="1" maxOccurs="1" type="Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lines">
    <xs:sequence>
      <xs:element name="Line" minOccurs="1" maxOccurs="unbounded" type="Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Summary">
    <xs:sequence>
      <xs:element name="TotalLines" minOccurs="1" maxOccurs="1" type="xs:positiveInteger" />
      <xs:element name="TotalOrderedAmount" minOccurs="0" maxOccurs="1" type="quantity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document-OrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderResponse-Header" minOccurs="1" maxOccurs="1" type="Header" />
        <xs:element name="OrderResponse-Parties" minOccurs="1" maxOccurs="1" type="Parties" />
        <xs:element name="OrderResponse-Lines" minOccurs="1" maxOccurs="1" type="Lines" />
        <xs:element name="OrderResponse-Summary" minOccurs="1" maxOccurs="1" type="Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>